# Abaikan folder dependency lokal
node_modules/
bun.lockb
bun.lock

# Abaikan folder Git
.git
.gitignore

# Abaikan file Docker itu sendiri
Dockerfile
docker-compose.yml
.dockerignore

# Abaikan dokumentasi dan log
*.md
npm-debug.log
yarn-error.log
.env

# Abaikan folder build/test jika ada
dist/
tests/
*.log
*.bak
